.labongcat .hallabong {
  position: absolute;
  top: 345px;
  left: 83px;
  transition: 1s all;
}

.labongcat .hallabong .fruit {
  position: absolute;
  top: 32px;
  width: 175px;
  height: 170px;
  background-color: var(--hallabong);
  border: 5px solid #222;
  border-radius: 120px 120px 100px 100px;
}

.labongcat .hallabong .fruit-top {
  position: absolute;
  top: 18px;
  left: 60px;
  width: 50px;
  height: 26px;
  background-color: var(--hallabong);
  border: 5px solid #222;
  border-radius: 30px 30px 23px 23px;
}

.labongcat .hallabong .stem {
  position: absolute;
  left: 83px;
  width: 5px;
  height: 25px;
  border: 5px solid #222;
  border-radius: 100% 50% 10px 10px;
  transform: rotate(2deg);
  background-color: var(--leaf);
}

.labongcat .hallabong .leaf {
  position: absolute;
  width: 38px;
  height: 22px;
  border: 5px solid #222;
  border-radius: 20px 0 15px 0;
  background-color: var(--leaf);
}

.labongcat .hallabong .leaf.left {
  top: -5px;
  left: 35px;
  border-radius: 0 20px 0 20px;
  transform: rotate(-35deg);
  animation: 왼쪽이파리 6s infinite;
}

.labongcat .hallabong .leaf.right {
  top: 22px;
  left: 96px;
  transform: rotate(55deg);
  animation: 오른쪽이파리 6s infinite;
}

.labongcat .hallabong .dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: var(--hallabongDot);
}

.labongcat .hallabong .dot:nth-child(1) {
  z-index: 10;
  top: 72px;
  left: 42px;
}

.labongcat .hallabong .dot:nth-child(2) {
  z-index: 10;
  top: 81px;
  left: 65px;
}
.labongcat .hallabong .dot:nth-child(3) {
  z-index: 10;
  top: 93px;
  left: 50px;
}
