/* animaion */

/* setting */
:root {
  --hallabong: #f2a444;
  --leaf: #4e5927;
  --hat: #d96c0e;
  --hallabongDot: #a65510;
  --skin: #f5f3eb;
  --nose: #db6b57;
  /* F28686 */
}

/* reset */
body {
  margin: 0;
  padding: 0;
}

/* design */
body {
  background-color: var(--leaf);
}

.labongcat {
  background-color: #6c754a;
  position: relative;
  top: auto;
  margin: 50px auto;
  width: 340px;
  height: 550px;
}

.labongcat .hat.top {
  position: absolute;
  top: 55px;
  left: 70px;
  width: 208px;
}

.labongcat .hat.bottom {
  position: absolute;
  border: 5px solid #222;
  top: 147px;
  left: 73px;
  width: 193px;
  height: 180px;
  border-radius: 80px 80px 115px 115px;
  background-color: var(--hat);
}

.labongcat .head {
  position: absolute;
  top: 132px;
  left: 81px;
  width: 177px;
  height: 186px;
  border: 5px solid #222;
  border-radius: 80px 80px 120px 120px;
  background-color: var(--skin);
}

.labongcat .eye {
  position: absolute;
  top: 100px;
  width: 25px;
  height: 15px;
  background-color: #222;
}

.labongcat .eye.left {
  left: 39px;
  border-radius: 8px 20px 10px 20px;
}

.labongcat .eye.right {
  right: 39px;
  border-radius: 20px 8px 20px 10px;
}

.labongcat .nose {
  position: absolute;
  top: 123px;
  left: 81px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: var(--nose);
  border: 5px solid #222;
  border-radius: 15px 7px 7px 7px;
}

.labongcat .mouth {
  position: absolute;
  top: 119px;
  width: 35px;
  height: 33px;
  border: 5px solid #222;
}
.labongcat .mouth.left {
  left: 48px;
  border-radius: 100% 100% 45px 60px;
}

.labongcat .mouth.right {
  right: 44px;
  border-radius: 100% 100% 60px 45px;
}

.labongcat .mouth-mask {
  position: absolute;
  top: 119px;
  left: 39px;
  width: 100px;
  height: 23px;
  background-color: var(--skin);
}

.labongcat .mouth-mask-left {
  position: absolute;
  top: 127px;
  left: 27px;
  width: 40px;
  height: 40px;
  border-radius: 0 0 0 30px;
  background-color: var(--skin);
}

.labongcat .mouth-mask-right {
  position: absolute;
  top: 127px;
  right: 22px;
  width: 40px;
  height: 40px;
  border-radius: 0 0 30px 0;
  background-color: var(--skin);
}

.labongcat .whiskers .left-top {
  position: absolute;
  top: 130px;
  left: -15px;
  width: 50px;
  height: 5px;
  background-color: #222;
  border-radius: 3px 0 0 3px;
  transform: rotate(2deg);
}

.labongcat .whiskers .left-bottom {
  position: absolute;
  top: 152px;
  left: -3px;
  width: 42px;
  height: 5px;
  background-color: #222;
  border-radius: 3px 0 0 3px;
  transform: rotate(-15deg);
}

.labongcat .whiskers .right-top {
  position: absolute;
  top: 130px;
  right: -15px;
  width: 50px;
  height: 5px;
  background-color: #222;
  border-radius: 0 3px 3px 0;
  transform: rotate(-2deg);
}

.labongcat .whiskers .right-bottom {
  position: absolute;
  top: 152px;
  right: -3px;
  width: 42px;
  height: 5px;
  background-color: #222;
  border-radius: 0 3px 3px 0;
  transform: rotate(15deg);
}
